.PennController {
    width: 40em !important; /* controls the witdth of the content area */
    margin-left: calc(50vw - 20em); /* aligns the content area's left edge with the vertical center of the page */
}

.Button {
    font-size: 1em;
    margin: .5em auto;
}

.Scale-container {
    /*margin: 25px auto;*/
    line-height: 150%;
}

.TextInput {
    font-family: Arial;
    font-size: 1em;
}

